<h1>Admin Portal</h1>
<hr>
<h2>All Students</h2>
<h3>Caution! Deleting a student is PERMANENT!</h3>
<% @students.each do |student| %>
  <p><%= link_to student.name, student_path(student) %> - <%= student.season %> <%= student.year %> - <%= link_to "delete", student_path(student), method: :delete %></p>
<% end %>
